name: Build and Deploy Containers

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push backend
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest

    - name: Build and push frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

    - name: (Optional) Run containers for test
      run: |
        docker run -d -p 5000:5000 --name backend ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
        docker run -d -p 3000:80 --name frontend --link backend:backcon ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest
        sleep 10
        docker ps
